<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Description</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
</head>
<body>
    {% include'navbar.html' %}

    <div class="header-container">
      {% include 'header.html' %}
      <main id="main">
        <div class="description">
            <p class="descriptionabout">About:</p>
            <p class="podcastdescription">This podcast library website is created by 3 really cool developers who want to share their love for podcasts through a web application that acts as a central source for all your favourite podcasts! </p>
        </div>
          <div id="podcast">
              <p class="homepage-podcasts-label">Podcasts you might be interested in:</p>
            <ul class="podcast-grid">
              {% for podcast in podcasts %}
              <li class="podcast-item">
                <a href="{{ url_for('podcast_description_bp.show_podcast_description', podcast_id=podcast.id, rendered_by_catalogue = False) }}">
                  <div class="podcast-list">
                    <img src="{{ podcast.image }}" alt="{{ podcast.title }}">
                    <span>{{ podcast.title }}</span>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
      </main>
    </div>
</body>
</html>